# Virtual environment
.venv/

# Robot Framework results and logs
results/

# Temporary / backup files
*.bak
*.swp

# Documents
documents/

# Environment variables
.env

# Python cache
__pycache__/

*output.xml
*log.html
*report.html

*geckodriver.log


