# Virtual environment
.venv/

# Robot Framework results and logs
results/
*.log.html
*.tmp
*.output.xml
*.report.html

# Temporary / backup files
*.bak
*.swp

#Documents
documents/

# Environment variables
.env

__pycache__/